footer {
    background-color: #f0f0f0;
    padding-top: 80px;
    position: relative;
    justify-items: center;
    margin-top: 100px;

}

.card {

    display: flex;
    padding: 36px 64px;
    background-color: black;
    border-radius: 20px;
    max-width: 1840px;
    max-height: 180px;
    align-items: center;
    margin-top: -170px;
    justify-content: space-between;
    gap: 250px;


}

.card-img {
    width: 551px;
}

.card-input {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 349px;

}

.card-input input {
    width: 100%;
    border-radius: 30px;
    height: 46px;
    text-align: center;
    font-size: 16px;
}

.input-icon {
    position: absolute;
    margin-top: 10px;
    left: 12px;
    width: 25px;
    height: 25px;

}

.input-Sub {
    cursor: pointer;
    border: none;

}

.items {
    display: flex;
    margin: auto;
    padding: 50px 0;
    width: 1240px;
    height: 177px;
    justify-content: space-between;
    margin-bottom: 25px;




}

.items-1 {

    max-width: 248px;
    height: 177px;
    gap: 35px;
}

.items-1 p {
    font-weight: 400;
    size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #898481;
    margin-bottom: 39px;
}

.items-1 .logo {
    width: 167px;
    height: 23px;

}

.items-1 .icons {
    gap: 20px;
    display: flex;
    width: 148px;
    height: 28px;
    border: 1px;
    justify-content: space-between;

}

.items-2 {
    gap: 26px;
    height: 177px;
}

.creditos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;

}
 .div-divider {
    margin: 20px 0;
    width: 80%;
    height: 1px;
    background-color: #e6e6e6;
  }

.creditos p {
    color: #898481;

}

.hr {
    padding: 10px 50px;

}

.mediosPago {
    display: flex;
    justify-content: space-between;

}