.div-hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
  gap: 40px;
}

.p-hero {
  font-family: "Integral", sans-serif;
  font-size: 64px;
  text-align: center;
  text-align: start;
  display: block;
  margin: 0px;
}

.div-brands {
  height: 122px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.img-hero {
  display: block;
  width: 600px;
}

.div-hero-cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.p-card {
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  text-align: start;
  display: block;
  margin: 0px;
}

.div-hero-img {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.div-hero-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
